@import "../../utils/variables";

footer {
  width: 90%;
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $large-font-size;

  a {
    text-decoration: none;
    color: $highlight-color;
  }

  b {
    color: $highlight-color;
  }

  p {
    color: $secondary-color;
  }

  .factsheets {
    p {
      > b {
        color: $secondary-color;
      }
    }
  }

  .suggestions {
    a {
      font-weight: 400;
    }
    font-size: $regular-font-size;
  }
}
