@import "../../utils/variables";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: $regular-font-size;
}

.app {
  width: 100%;
  height: 95%;
}
