@import "../../utils/variables";

.about {
  justify-content: space-between;

  &-top {
    display: flex;
    justify-content: space-between;

    &-image {
      padding-right: 7%;
    }

    &-title {
      font-size: 18px;
      // width: 615px;
      padding-right: 50%;

      h1 {
        font-weight: 400;
      }
    }
  }
  &-bottom {
    &-description {
      font-size: $large-font-size;
    }
  }
  img {
    width: 350%;
    margin-left: -750%;
  }
}
