@import "../../utils/variables";

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $regular-font-size;
  font-weight: $main-font-weight;
  h1 {
    font-weight: 400;
  }
}
ul {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: #5aae56;
    $main-font-weight: 300;
    //font-size: 20px;
    line-height: 5px;
    //display: flex;
    //align-items: center;
    text-decoration: none;
  }
}
