@import "../../utils/variables";

.payment-methods {
  width: 100%;
  align-items: center;
  display: flex;
  //flex-direction: initial;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.payment {
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 180px;
  margin-top: 60px;
  box-sizing: border-box;
  height: 40px;
  border: solid #000000 1px;
  padding: 1px 40px 0px;
  border-radius: 5px;
  img {
    width: 100px;
  }
  
}
