@import "../../utils/variables";

header {
  width: 90%;
  height: 80px;
  padding: $container-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1a1d;

  .header {
    &-logo {
      img {
        width: 60%;
      }
    }

    &-links {
      a {
        text-decoration: none;
        color: white;
        padding: 10px 15px;
      }
      a:last-child {
        border: solid 1px white;
        border-radius: 5px;
      }
    }
  }
}
