@import "../../utils/variables";
header {
  width: 100%;
  background-color: $secondary-color;
  height: 100px;
  .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      width: 17%;
    }

    .open-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: absolute;
      background-color: $secondary-color;
      top: 100px;
      right: 0px;
      width: 100vw;
      height: 33vh;
      padding-left: 8%;
      padding-bottom: 4%;
      padding-top: 4%;
      transform: translateY(-120px);
      animation: display-menu 200ms ease-in-out forwards;
    }

    &-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        margin-left: 16px;
        font-size: 14px;
        color: $main-color;
        text-decoration: none;
        &:last-child {
          border: 1px solid $main-color;
          padding: 7px;
          border-radius: 4px;
        }
      }
    }
    &-toggle {
      button {
        display: none;
      }
    }
  }
}

@media (max-width: 820px) {
  header {
    .header {
      &-links {
        display: none;
      }

      img {
        width: 40%;
      }

      a {
        font-size: 25px;
      }

      
    &-toggle {
      button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 5rem;
        border: 0;
        background: transparent;
        gap: 0.5rem;

        > div {
          background: white;
          height: 5px;
          width: 100%;
          border-radius: 9px;
          transition: all 0.5s;
          transform-origin: right;

          &:last-child {
            // transform: scaleX(0.5);
            transform-origin: right;
          }
        }
      }
    }
    }
  }
}

@keyframes display-menu {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
