@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

// font
$main-font-family: "Josefin Sans", sans-serif;
$main-font-weight: 300;
$small-font-size: 12px;
$regular-font-size: 16px;
$large-font-size: 20px;

// colors
$main-color: white;
$secondary-color: #1c1a1d;
$highlight-color: #5aae56;

// spaces
$container-padding: 0 5%;